/* CSS Reset */
:root{
    
/* Primary */
--softBlue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);
--cyan-o: 178, 100%, 50%; /* variable for background opacity */
/* Neutral */
--main_BG: hsl(217, 54%, 11%);
--card_BG: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: var(--softBlue);
    background-color: var(--main_BG);
}
main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*==== Card ====*/
.card{
    background: var(--card_BG);
    max-width: 320px;
    padding: 1.5em;
    border-radius: 15px;
    position: relative;
}
    
    /* ==== Card ==== */
    .equilibrium-logo,.card h1,.card p{
        margin-bottom: 1em;
    }
    .image-container{
        position: relative;
    }
    .equilibrium-logo{
        opacity: 1;
        border-radius: 10px;
        background-color: cyan;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: calc(100% - 1.2em);
        width: 100%;
        opacity: 0;
        border-radius: 10px;
        transition: .3s ease;
        background-color: hsla(var(--cyan-o), 0.6); /* to add opacity to background specifically, without affecting the icon */
        
    }
    .card svg{
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .image-container:hover .overlay{
        opacity: 1;
    }

    h1{
        color: var(--white);
    }
    h1:hover, h1:active, footer span:hover{
        cursor: pointer;
        color: var(--cyan);
    }
    
    /* ====Card Content==== */
    .card-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }
    .card-content div {
        display: flex;
        align-items: center;
    }
    .card-content div img.icon{
        padding-right: 5px;
    }
hr{
    border: solid 1px var(--line);
}

.card footer{
    display: flex;
    align-items: center;
}
.card footer img{
    border-radius: 50%;
    border: solid 1px var(--white);
}
.card footer *{
    margin: 1em 1em 0 0;
}
.active{
    text-decoration: none;
    color: var(--white);

}
.active:visited{
    color: wheat;
}
.active:hover{
    color: var(--cyan);
}

.attribution { font-size: 11px; text-align: center; padding: 10px 0}
.attribution a { color: hsl(228, 45%, 44%); }
